# from nginx.org/en/docs/example.html as of 2025-01-02
# (only need `user` directive if starting as root)
#user $USER $USER;
worker_processes 1;
pid $TMPDIR/nginx_$APP.pid;
events {
	worker_connections 10;
}
http {
	server {
		listen $EXTERNAL_PORT;
		server_name $APP $APP.com www.$APP.com;
		charset utf-8;
		access_log $USER_LOG/kybyz_nginx.access.log;
		location / {
			include /etc/nginx/uwsgi_params;
			uwsgi_pass unix://$TMPDIR/$APP.sock;
		}
	}
}
