[uwsgi]
# symlink this under /etc/uwsgi/apps-enabled/ (Debian)
#log-syslog
http-socket = kybyz:2727
plugin = python
wsgi-file = $PWD/kybyz0.py
callable = example_client
chdir = $PWD
check-static = $PWD/example.kybyz
uid = $USER
# do not load `site` module while root, load it later as user
no-site
#logto = /var/log/uwsgi/app/%n.log
# guide to "magic" variables:
# http://uwsgi-docs.readthedocs.io/en/latest/Configuration.html
