[uwsgi]
# symlink this under /etc/uwsgi/apps-enabled/ (Debian)
#log-syslog
http-socket = kybyz:2424
plugin = python3
wsgi-file = $PWD/kybyz.py
callable = kybyz_client
chdir = $PWD
uid = $USER
check-static = /home/$USER/.kybyz_v0
# do not load `site` module while root, load it later as user
no-site
# log already created, no need for following
#logto = /var/log/uwsgi/app/%n.log
# guide to "magic" variables:
# http://uwsgi-docs.readthedocs.io/en/latest/Configuration.html
